<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.org.projecteka.featuresprovider">

    <application>
        <activity android:name="in.org.projecteka.jataayu.provider.ui.ProviderSearchActivity"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>