<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.projecteka.featuresprovider">

    <application>
        <activity android:name="in.projecteka.jataayu.provider.ui.ProviderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
    </application>
</manifest>