<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.projecteka.jataayu.registration.ui.activity">

    <application>
        <activity
            android:label="Registration"
            android:name=".RegistrationActivity">
        </activity>
        <activity
            android:label="Login"
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
