<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.projecteka.jataayu.presentation">

    <application>
        <activity
            android:name=".ui.fragment.BaseActivity"
             />

        <activity
            android:name=".ui.IntroScreensActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false"/>
    </application>
</manifest>
