<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.org.projecteka.jataayu.consent">

    <application>
        <activity android:name=".ui.activity.ConsentDetailsActivity">
        </activity>
        <activity
            android:name=".ui.activity.ConsentActivity"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>