<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.projecteka.jataayu.user.account">

    <application>
        <activity
            android:label="AccountCreation"
            android:name=".ui.activity.AccountCreationActivity">
        </activity>
    </application>

</manifest>
