<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.projecteka.jataayu.user.account">

    <application>
        <activity
            android:label="AccountCreation"
            android:name=".ui.activity.AccountCreationActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            >
        </activity>
        <activity
            android:label="AccountCreation"
            android:name=".ui.activity.ProfileActivity">
        </activity>
    </application>

</manifest>
